.main-container {
  position: relative;
  width: 100%;
  top: 0%;
  left: 1%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-button{
  position:fixed;
  padding: 1vh;
  top:0vh;
  left:80vw;
  width: 12vw;
  height:2vh;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* .my-selection {
  position: absolute;
  top: 5vh;
  left:2vw;
}
.my-gallery {
  position: absolute;
  top: 5vh;
  left:8vw;
}
.collective-button {
  position: absolute;
  top:5vh;
  left:16vw;
} */

.place-overview{
  position: absolute;
  width: 100%;
  top: 4vh;
}

.bottom-button {
  position: fixed;
  background-color: aqua;
  left:95vw;
  width: 11vw;
  height:2.3vh;
  z-index: 100;
}

