.card-container {
  position: relative;
  display:flex;
  direction: row;
  justify-items: auto;
  top: 5px;
  left: 0;
  width:100%;
  height:25%;
  background-color: transparent;
  padding: 10px;
}

.photo-cotainer {
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: start;
}
.photo-cotainer img {
  max-width: 100px;  
  max-height: 100px; 
}

.content-cotainer {
  position: relative;
  background-color: transparent;
  text-align: left;
}

.main-content {
}
.sub-content {
}
.stars {
}

.button-cotainer-top {
  position: absolute;
  width: auto;
  height: auto;
  top: 15px;
  right:10px;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

.button-cotainer-bottom {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 15px;
  right:10px;
  background-color: transparent;
  justify-content: flex-end;
  background-color: transparent;
}
